Repository aiidaplugins/aiida-crystal17: changes, and which pre-commit hooks are due for each by the changed paths.
All: yapf, version-number, conda, travis-linter, doc8

.pre-commit-config.yaml:

# Install pre-commit hooks via
# pre-commit install

exclude: >
  (?x)^(
      aiida_crystal17/tests/raw_files/.*|
      cry17_scripts/.*
  )$

repos:

  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v2.2.3
    hooks:
    - id: check-json
    - id: check-yaml
    - id: end-of-file-fixer
    - id: trailing-whitespace
    - id: double-quote-string-fixer
    - id: flake8

  - repo: local
    hooks:

    - id: yapf
      name: Yet Another Python Formatter
      entry: yapf
      language: system
      types: [python]
      args: ["-i", "-vv"]

    - id: version-number
      name: Check version numbers
      entry: python ./.pre-commit/check_version.py version
      language: system
      files: >-
        (?x)^(
          setup.json|
          .pre-commit/check_version.py|
          aiida_crystal17/__init__.py
        )$
      pass_filenames: false

    - id: conda
      name: Create environment.yml
      entry: python ./.pre-commit/check_version.py conda
      language: system
      files: >-
        (?x)^(
          setup.json|
          setup.py|
          .pre-commit/check_version.py|
          conda_dev_env.yml|
        )$
      pass_filenames: false

    - id: travis-linter
      name: Travis Lint
      entry: travis lint
      files: .travis.yml
      language: ruby
      additional_dependencies: ['travis']

    - id: doc8
      entry: doc8
      language: system
      types: [rst]
      name: doc8 - Lint the documentation.

    # TODO could also add check-manifest

Minor structure conversion improvements
  aiida_crystal17/symmetry/symmetry.py
  aiida_crystal17/workflows/symmetrise_3d_struct.py
Due: yapf

🔧 remove six python 2 support
  aiida_crystal17/calculations/cry_abstract.py
  aiida_crystal17/calculations/cry_basic.py
  aiida_crystal17/calculations/cry_main.py
  aiida_crystal17/calculations/prop_abstract.py
  aiida_crystal17/calculations/prop_doss.py
  aiida_crystal17/calculations/prop_ech3.py
  aiida_crystal17/calculations/prop_newk.py
  aiida_crystal17/calculations/prop_ppan.py
  aiida_crystal17/data/basis_set.py
  aiida_crystal17/data/gcube.py
  aiida_crystal17/gulp/calculations/gulp_abstract.py
  aiida_crystal17/gulp/calculations/gulp_fitting.py
  aiida_crystal17/gulp/calculations/gulp_optimize.py
  aiida_crystal17/gulp/calculations/gulp_single.py
  aiida_crystal17/gulp/data/potential.py
  aiida_crystal17/gulp/parsers/raw/write_input.py
  aiida_crystal17/parsers/raw/crystal_fort9.py
  aiida_crystal17/parsers/raw/inputd12_write.py
  aiida_crystal17/parsers/raw/vesta.py
  aiida_crystal17/tests/mock_crystal17.py
  aiida_crystal17/tests/mock_gulp.py
  aiida_crystal17/tests/mock_properties17.py
  aiida_crystal17/tests/test_data/test_basis_set.py
  aiida_crystal17/tests/test_data/test_gcube.py
  aiida_crystal17/tests/test_gulp/test_potentials/test_reaxff.py
  aiida_crystal17/tests/test_parsers/test_cry_main.py
  aiida_crystal17/tests/test_parsers/test_raw/test_crystal_fort25.py
  aiida_crystal17/tests/test_parsers/test_raw/test_vesta.py
  aiida_crystal17/tests/test_symmetry/test_symmetry.py
  aiida_crystal17/tests/utils.py
  aiida_crystal17/validation/utils.py
  aiida_crystal17/workflows/crystal_props/base.py
  docs/source/conf.py
  setup.json
Due: yapf, version-number, conda

Add input writing for CHEMOD, and parsing of common errors
  aiida_crystal17/calculations/cry_abstract.py
  aiida_crystal17/calculations/prop_abstract.py
  aiida_crystal17/parsers/raw/crystal_stdout.py
  aiida_crystal17/parsers/raw/inputd12_write.py
  aiida_crystal17/tests/test_parsers/test_raw/test_inputd12_write.py
Due: yapf

🔧 replace ruamel.yaml with pyyaml
  .vscode/settings.json
  aiida_crystal17/data/basis_set.py
  aiida_crystal17/tests/utils.py
  setup.json
Due: yapf, version-number, conda

Add validation & writing of DFTD3 input block
  aiida_crystal17/common/d3_parameters.json
  aiida_crystal17/parsers/raw/inputd12_read.py
  aiida_crystal17/parsers/raw/inputd12_write.py
  aiida_crystal17/tests/test_parsers/test_raw/test_inputd12_write.py
  aiida_crystal17/validation/schemas/inputd12.schema.json
Due: yapf

🧪 Add tox
  .gitignore
  .vscode/settings.json
  aiida_crystal17/tests/test_parsers/test_raw/test_inputd12_read.py
  conda_dev_env.yml
  docker-compose.yml
  setup.json
  tox.ini
Due: yapf, version-number, conda

Add recording of charge to `parse_bsets_stdin`
  aiida_crystal17/parsers/raw/parse_bases.py
  aiida_crystal17/tests/test_parsers/test_raw/test_parse_bases/test_full_files_mgo_sto3g_filepath0_.yml
  aiida_crystal17/tests/test_parsers/test_raw/test_parse_bases/test_full_files_nio_sto3g_filepath1_.yml
  aiida_crystal17/tests/test_parsers/test_raw/test_parse_bases/test_single_bases_3_21g_.yml
  aiida_crystal17/tests/test_parsers/test_raw/test_parse_bases/test_single_bases_3_21g_star_.yml
  aiida_crystal17/tests/test_parsers/test_raw/test_parse_bases/test_single_bases_barthe_.yml
  aiida_crystal17/tests/test_parsers/test_raw/test_parse_bases/test_single_bases_free_.yml
  aiida_crystal17/tests/test_parsers/test_raw/test_parse_bases/test_single_bases_free_ecp_.yml
  aiida_crystal17/tests/test_parsers/test_raw/test_parse_bases/test_single_bases_haywlc_.yml
  aiida_crystal17/tests/test_parsers/test_raw/test_parse_bases/test_single_bases_tzvp_.yml
Due: yapf

Allow `Symmetrise3DStructure` to use the pymatgen CIF parser
  aiida_crystal17/tests/test_workflows/test_symmetrise_3d_struct.py
  aiida_crystal17/workflows/symmetrise_3d_struct.py
Due: yapf

Fix CHEMOD input file creation
  aiida_crystal17/parsers/raw/inputd12_write.py
Due: yapf

⬆️ move to aiida-core v1.4.0
  aiida_crystal17/calculations/cry_abstract.py
  aiida_crystal17/calculations/cry_basic.py
  aiida_crystal17/calculations/cry_main.py
  aiida_crystal17/calculations/prop_abstract.py
  aiida_crystal17/calculations/prop_doss.py
  aiida_crystal17/calculations/prop_ech3.py
  aiida_crystal17/calculations/prop_newk.py
  aiida_crystal17/calculations/prop_ppan.py
  aiida_crystal17/data/basis_set.py
  aiida_crystal17/tests/test_calculations/test_cry_doss.py
  aiida_crystal17/tests/test_calculations/test_cry_doss/test_run_mgo_scf.yml
  aiida_crystal17/tests/test_calculations/test_cry_ech3.py
  aiida_crystal17/tests/test_calculations/test_cry_ech3/test_run_mgo_scf.yml
  aiida_crystal17/tests/test_calculations/test_cry_main.py
  aiida_crystal17/tests/test_calculations/test_cry_newk.py
  aiida_crystal17/tests/test_calculations/test_cry_newk/test_run_mgo_scf_folder.yml
  aiida_crystal17/tests/test_calculations/test_cry_ppan.py
  aiida_crystal17/tests/test_calculations/test_cry_ppan/test_run_mgo_scf.yml
  aiida_crystal17/tests/test_immigration/test_immigrate.py
  aiida_crystal17/tests/test_immigration/test_immigrate/test_full_mgo_opt.yml
  aiida_crystal17/tests/test_immigration/test_immigrate/test_full_nio_afm.yml
  aiida_crystal17/tests/test_parsers/test_cry_doss.py
  aiida_crystal17/tests/test_parsers/test_cry_ech3.py
  aiida_crystal17/tests/test_parsers/test_cry_main.py
  aiida_crystal17/tests/test_parsers/test_cry_newk.py
  aiida_crystal17/tests/test_workflows/test_crystal_main.py
  aiida_crystal17/tests/test_workflows/test_crystal_main/test_init_steps.yml
  aiida_crystal17/tests/test_workflows/test_crystal_props.py
  aiida_crystal17/tests/utils.py
  aiida_crystal17/workflows/common/restart.py
  aiida_crystal17/workflows/crystal_main/base.py
  aiida_crystal17/workflows/crystal_props/base.py
  aiida_crystal17/workflows/symmetrise_3d_struct.py
  conftest.py
  setup.json
  tox.ini
Due: yapf, version-number, conda

♻️ REFACTOR: Use aiida-core BaseRestartWorkChain
  aiida_crystal17/data/basis_set.py
  aiida_crystal17/tests/test_calculations/test_cry_main.py
  aiida_crystal17/tests/test_workflows/test_crystal_main.py
  aiida_crystal17/tests/test_workflows/test_crystal_main/test_init_steps.yml
  aiida_crystal17/tests/test_workflows/test_crystal_props.py
  aiida_crystal17/tests/utils.py
  aiida_crystal17/workflows/common/__init__.py
  aiida_crystal17/workflows/common/restart.py
  aiida_crystal17/workflows/crystal_main/base.py
  aiida_crystal17/workflows/symmetrise_3d_struct.py
  conda_dev_env.yml
  conftest.py
Due: yapf, conda

👌Move to custom BasisSetFamily group
  .style.yapf
  aiida_crystal17/data/basis_set.py
  aiida_crystal17/tests/resources.py
  setup.json
Due: yapf, version-number, conda

📚 DOCS: Update documentation to use myst-nb
  README.md
  calc_basic.md
  conda_dev_env.yml
  doc8.ini
  docs/Makefile
  docs/environment.yaml
  docs/source/changelog.md
  docs/source/conf.py
  docs/source/devel_guide/restart_wkchain.rst
  docs/source/index.rst
  docs/source/notebooks/.gitignore
  docs/source/notebooks/calc_basic.ipynb
  docs/source/notebooks/calc_doss.ipynb
  docs/source/notebooks/calc_ech3.ipynb
  docs/source/notebooks/calc_main.ipynb
  docs/source/notebooks/calc_main_immigrant.ipynb
  docs/source/notebooks/test_notebooks.py
  docs/source/notebooks/vesta_screenshots/2d_display.png
  docs/source/notebooks/vesta_screenshots/main.png
  docs/source/notebooks/workflow_base.ipynb
  docs/source/notebooks/workflow_properties.ipynb
  docs/source/user_guide/get_started.md
  docs/source/user_guide/get_started.rst
  setup.json
  tox.ini
Due: yapf, version-number, conda, doc8

🧪 Move to GH Actions for testing
  .github/workflows/tests.yml
  .readthedocs.yml
  .travis.yml
Due: travis-linter

✨ Add input writing for CHEMOD, and parsing of common errors
  aiida_crystal17/calculations/cry_abstract.py
  aiida_crystal17/calculations/prop_abstract.py
  aiida_crystal17/parsers/raw/crystal_stdout.py
  aiida_crystal17/parsers/raw/inputd12_write.py
  aiida_crystal17/tests/test_parsers/test_raw/test_inputd12_write.py
Due: yapf

✨ Add recording of charge to `parse_bsets_stdin`
  aiida_crystal17/parsers/raw/parse_bases.py
  aiida_crystal17/tests/test_parsers/test_raw/test_parse_bases/test_full_files_mgo_sto3g_filepath0_.yml
  aiida_crystal17/tests/test_parsers/test_raw/test_parse_bases/test_full_files_nio_sto3g_filepath1_.yml
  aiida_crystal17/tests/test_parsers/test_raw/test_parse_bases/test_single_bases_3_21g_.yml
  aiida_crystal17/tests/test_parsers/test_raw/test_parse_bases/test_single_bases_3_21g_star_.yml
  aiida_crystal17/tests/test_parsers/test_raw/test_parse_bases/test_single_bases_barthe_.yml
  aiida_crystal17/tests/test_parsers/test_raw/test_parse_bases/test_single_bases_free_.yml
  aiida_crystal17/tests/test_parsers/test_raw/test_parse_bases/test_single_bases_free_ecp_.yml
  aiida_crystal17/tests/test_parsers/test_raw/test_parse_bases/test_single_bases_haywlc_.yml
  aiida_crystal17/tests/test_parsers/test_raw/test_parse_bases/test_single_bases_tzvp_.yml
Due: yapf

🐛 Fix CHEMOD input file creation
  aiida_crystal17/parsers/raw/inputd12_write.py
Due: yapf

👌 Allow `Symmetrise3DStructure` to use the pymatgen CIF parser
  aiida_crystal17/tests/test_workflows/test_symmetrise_3d_struct.py
  aiida_crystal17/workflows/symmetrise_3d_struct.py
Due: yapf

🚀 RELEASE: v0.11.0
  aiida_crystal17/__init__.py
  aiida_crystal17/tests/test_calculations/test_cry_doss/test_run_mgo_scf.yml
  aiida_crystal17/tests/test_calculations/test_cry_newk/test_run_mgo_scf_folder.yml
  aiida_crystal17/tests/test_calculations/test_cry_ppan/test_run_mgo_scf.yml
  aiida_crystal17/tests/test_parsers/test_cry_doss/test_success_crystal17_doss_.yml
  aiida_crystal17/tests/test_parsers/test_cry_ech3/test_success_crystal17_ech3_.yml
  aiida_crystal17/tests/test_parsers/test_cry_newk/test_success_crystal17_newk_.yml
  aiida_crystal17/tests/test_parsers/test_raw/test_crystal_fermi/test_read_newk_out_file.yml
  docs/source/changelog.md
  docs/source/notebooks/calc_basic.ipynb
  docs/source/notebooks/calc_doss.ipynb
  docs/source/notebooks/calc_ech3.ipynb
  docs/source/notebooks/calc_main.ipynb
  docs/source/notebooks/calc_main_immigrant.ipynb
  setup.json
Due: yapf, version-number, conda

👌Use `exposed_outputs` method
  aiida_crystal17/workflows/crystal_props/base.py
Due: yapf

🔧 Update badges
  README.md
  docs/source/user_guide/get_started.md
Due: none

📚 run reentry scan before docs builds
  docs/source/conf.py
Due: yapf

🐛 FIX: pre-commit local dependencies
  .pre-commit-config.yaml
Due: none

🔧 Remove unwanted files
  .coveragerc
  .gitchangelog.rc
  calc_basic.md
Due: none
