Repository aiidaplugins/aiida-crystal17: changes, and which pre-commit hooks are due for each by the changed paths.
All: yapf, version-number, conda, travis-linter, doc8

.pre-commit-config.yaml:

# Install pre-commit hooks via
# pre-commit install

exclude: >
  (?x)^(
      aiida_crystal17/tests/raw_files/.*|
      cry17_scripts/.*
  )$

repos:

  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v2.2.3
    hooks:
    - id: check-json
    - id: check-yaml
    - id: end-of-file-fixer
    - id: trailing-whitespace
    - id: double-quote-string-fixer
    - id: flake8

  - repo: local
    hooks:

    - id: yapf
      name: Yet Another Python Formatter
      entry: yapf
      language: system
      types: [python]
      args: ["-i", "-vv"]

    - id: version-number
      name: Check version numbers
      entry: python ./.pre-commit/check_version.py version
      language: system
      files: >-
        (?x)^(
          setup.json|
          .pre-commit/check_version.py|
          aiida_crystal17/__init__.py
        )$
      pass_filenames: false

    - id: conda
      name: Create environment.yml
      entry: python ./.pre-commit/check_version.py conda
      language: system
      files: >-
        (?x)^(
          setup.json|
          setup.py|
          .pre-commit/check_version.py|
          conda_dev_env.yml|
        )$
      pass_filenames: false

    - id: travis-linter
      name: Travis Lint
      entry: travis lint
      files: .travis.yml
      language: ruby
      additional_dependencies: ['travis']

    - id: doc8
      entry: doc8
      language: system
      types: [rst]
      name: doc8 - Lint the documentation.

    # TODO could also add check-manifest

use pytest command-line arguments to control run configuration
  .travis.yml
  README.md
  aiida_crystal17/tests/resources.py
  aiida_crystal17/tests/test_calcfunctions/test_band_gap.py
  aiida_crystal17/tests/test_calculations/test_cry_basic.py
  aiida_crystal17/tests/test_calculations/test_cry_doss.py
  aiida_crystal17/tests/test_calculations/test_cry_fermi.py
  aiida_crystal17/tests/test_calculations/test_cry_main.py
  aiida_crystal17/tests/test_gulp/test_calculations/test_fitting.py
  aiida_crystal17/tests/test_gulp/test_calculations/test_gulp_optimize.py
  aiida_crystal17/tests/test_gulp/test_calculations/test_gulp_single.py
  aiida_crystal17/tests/test_parsers/test_raw/test_inputd12_read.py
  aiida_crystal17/tests/test_workflows/test_crystal_main.py
  aiida_crystal17/tests/test_workflows/test_crystal_props.py
  aiida_crystal17/tests/utils.py
  conftest.py
  docs/source/user_guide/get_started.rst
Due: yapf, travis-linter, doc8

usis travis_retry for creating conda env
  .travis.yml
Due: travis-linter

add test for notebooks
  aiida_crystal17/tests/utils.py
  conftest.py
  docs/source/conf.py
  docs/source/user_guide/calc_basic.ipynb
  docs/source/user_guide/calc_gulp.ipynb
  docs/source/user_guide/calc_main.ipynb
  docs/source/user_guide/calc_main_immigrant.ipynb
  docs/source/user_guide/test_notebooks.py
  docs/source/user_guide/workflow_base.ipynb
Due: yapf

update notebooks
  conftest.py
  docs/source/user_guide/calc_basic.ipynb
  docs/source/user_guide/calc_gulp.ipynb
  docs/source/user_guide/calc_main.ipynb
  docs/source/user_guide/test_notebooks.py
  docs/source/user_guide/workflow_base.ipynb
Due: yapf

add pytest-notebook
  conda_dev_env.yml
  conftest.py
  docs/source/user_guide/calc_basic.ipynb
  docs/source/user_guide/calc_gulp.ipynb
  docs/source/user_guide/calc_main.ipynb
  docs/source/user_guide/calc_main_immigrant.ipynb
  docs/source/user_guide/test_notebooks.py
  docs/source/user_guide/workflow_base.ipynb
  setup.json
Due: yapf, version-number, conda

travis fix
  .travis.yml
Due: travis-linter

fix travis
  .travis.yml
Due: travis-linter

travis fix
  .travis.yml
  conftest.py
  docs/source/user_guide/calc_basic.ipynb
  docs/source/user_guide/test_notebooks.py
Due: yapf, travis-linter

change pytest collection routine
  conftest.py
Due: yapf

Add pytest plugin configuration (#22)
  .travis.yml
  README.md
  aiida_crystal17/tests/resources.py
  aiida_crystal17/tests/test_calcfunctions/test_band_gap.py
  aiida_crystal17/tests/test_calculations/test_cry_basic.py
  aiida_crystal17/tests/test_calculations/test_cry_doss.py
  aiida_crystal17/tests/test_calculations/test_cry_fermi.py
  aiida_crystal17/tests/test_calculations/test_cry_main.py
  aiida_crystal17/tests/test_gulp/test_calculations/test_fitting.py
  aiida_crystal17/tests/test_gulp/test_calculations/test_gulp_optimize.py
  aiida_crystal17/tests/test_gulp/test_calculations/test_gulp_single.py
  aiida_crystal17/tests/test_parsers/test_raw/test_inputd12_read.py
  aiida_crystal17/tests/test_workflows/test_crystal_main.py
  aiida_crystal17/tests/test_workflows/test_crystal_props.py
  aiida_crystal17/tests/utils.py
  conda_dev_env.yml
  conftest.py
  docs/source/conf.py
  docs/source/user_guide/calc_basic.ipynb
  docs/source/user_guide/calc_gulp.ipynb
  docs/source/user_guide/calc_main.ipynb
  docs/source/user_guide/calc_main_immigrant.ipynb
  docs/source/user_guide/get_started.rst
  docs/source/user_guide/test_notebooks.py
  docs/source/user_guide/workflow_base.ipynb
  setup.json
Due: yapf, version-number, conda, travis-linter, doc8

improve CRYSTAL main stdout parser
  aiida_crystal17/calculations/cry_main.py
  aiida_crystal17/parsers/raw/crystal_fort25.py
  aiida_crystal17/parsers/raw/crystal_stdout.py
  aiida_crystal17/parsers/raw/main_out.py
  aiida_crystal17/parsers/raw/parse_fort34.py
  aiida_crystal17/tests/test_calculations/test_cry_main/test_run_nio_afm_failed_opt.yml
  aiida_crystal17/tests/test_parsers/test_raw/test_crystal_stdout/test_crystal_stdout_files_cry17_incomplete_scf_filepath10_.yml
  aiida_crystal17/tests/test_parsers/test_raw/test_crystal_stdout/test_crystal_stdout_files_nio_opt_walltime_filepath8_.yml
  aiida_crystal17/tests/test_parsers/test_raw/test_crystal_stdout/test_crystal_stdout_files_s2_molecule_opt_filepath12_.yml
Due: yapf

symmetry: allow for use of symbol (rather than kind) to define inequivalent sites
  aiida_crystal17/symmetry/symmetry.py
  aiida_crystal17/tests/utils.py
Due: yapf

GULP: improve reaxff parser
  aiida_crystal17/gulp/parsers/raw/__init__.py
  aiida_crystal17/gulp/parsers/raw/parse_output_common.py
  aiida_crystal17/gulp/potentials/raw_reaxff.py
  aiida_crystal17/tests/mock_gulp.py
  aiida_crystal17/tests/test_gulp/test_calculations/test_fitting/test_calcjob_submit_reaxff_fes.txt
  aiida_crystal17/tests/test_gulp/test_potentials/test_reaxff.py
  aiida_crystal17/tests/test_gulp/test_potentials/test_reaxff/test_read_lammps_format.yml
  aiida_crystal17/tests/test_gulp/test_potentials/test_reaxff/test_round_trip_lammps_format.txt
  aiida_crystal17/tests/test_gulp/test_potentials/test_reaxff/test_write_gulp_format.txt
  aiida_crystal17/tests/test_gulp/test_potentials/test_reaxff/test_write_gulp_format_with_filter.txt
  aiida_crystal17/tests/test_gulp/test_potentials/test_reaxff/test_write_gulp_format_with_filter.yml
  aiida_crystal17/tests/test_gulp/test_potentials/test_reaxff/test_write_gulp_format_with_fitting.txt
Due: yapf

Add parsers and test sfor parsing properties stdout and gaussian cube files
  .vscode/settings.json
  aiida_crystal17/common/parsing.py
  aiida_crystal17/parsers/raw/crystal_stdout.py
  aiida_crystal17/parsers/raw/gaussian_cube.py
  aiida_crystal17/parsers/raw/properties_stdout.py
  aiida_crystal17/tests/raw_files/ech3/mgo_sto3g_scf/DENS_CUBE.DAT
  aiida_crystal17/tests/raw_files/ech3/mgo_sto3g_scf/INPUT
  aiida_crystal17/tests/raw_files/ech3/mgo_sto3g_scf/__init__.py
  aiida_crystal17/tests/raw_files/ech3/mgo_sto3g_scf/fort.9
  aiida_crystal17/tests/raw_files/ech3/mgo_sto3g_scf/main.out
  aiida_crystal17/tests/test_parsers/test_raw/test_gaussian_cube.py
  aiida_crystal17/tests/test_parsers/test_raw/test_gaussian_cube/test_read_density_cube.yml
  aiida_crystal17/tests/test_parsers/test_raw/test_properties_stdout.py
  aiida_crystal17/tests/test_parsers/test_raw/test_properties_stdout/test_read_props_stdout_doss.yml
  aiida_crystal17/tests/test_parsers/test_raw/test_properties_stdout/test_read_props_stdout_ech3.yml
  docs/source/conf.py
Due: yapf

test fix
  aiida_crystal17/parsers/raw/properties_stdout.py
  aiida_crystal17/tests/test_parsers/test_raw/test_properties_stdout/test_read_props_stdout_doss.yml
  aiida_crystal17/tests/test_parsers/test_raw/test_properties_stdout/test_read_props_stdout_ech3.yml
Due: yapf

test fix
  aiida_crystal17/tests/raw_files/ech3/__init__.py
Due: none

Refactor crystal doss parser to include reading of stdout file
  aiida_crystal17/calculations/cry_doss.py
  aiida_crystal17/parsers/cry_doss.py
  aiida_crystal17/parsers/raw/crystal_fort25.py
  aiida_crystal17/parsers/raw/properties_stdout.py
  aiida_crystal17/tests/test_calculations/test_cry_doss.py
  aiida_crystal17/tests/test_calculations/test_cry_doss/test_run_mgo_scf.yml
  aiida_crystal17/tests/test_parsers/test_cry_doss.py
  aiida_crystal17/tests/test_parsers/test_cry_doss/test_success_crystal17_doss_.yml
  aiida_crystal17/tests/test_parsers/test_raw/test_crystal_fort25.py
  aiida_crystal17/tests/test_parsers/test_raw/test_crystal_fort25/test_read_crystal_fort25.yml
Due: yapf

test fix
  aiida_crystal17/tests/test_parsers/test_raw/test_crystal_fort25/test_read_crystal_fort25.yml
  aiida_crystal17/tests/test_parsers/test_raw/test_properties_stdout/test_read_props_stdout_doss.yml
  aiida_crystal17/tests/test_parsers/test_raw/test_properties_stdout/test_read_props_stdout_ech3.yml
Due: none

Add ``crystal17.ech3`` calculation and parser
  aiida_crystal17/calculations/cry_ech3.py
  aiida_crystal17/parsers/cry_ech3.py
  aiida_crystal17/parsers/raw/gaussian_cube.py
  aiida_crystal17/tests/mock_properties17.py
  aiida_crystal17/tests/test_calculations/test_cry_ech3.py
  aiida_crystal17/tests/test_calculations/test_cry_ech3/test_run_mgo_scf.yml
  aiida_crystal17/tests/test_parsers/test_cry_ech3.py
  aiida_crystal17/tests/test_parsers/test_cry_ech3/test_success_crystal17_ech3_.yml
  aiida_crystal17/tests/test_parsers/test_raw/test_gaussian_cube/test_read_density_cube.yml
  aiida_crystal17/validation/schemas/ech3_input.schema.json
  conftest.py
  setup.json
Due: yapf, version-number, conda

Add fort.9 raw parser
  aiida_crystal17/calculations/cry_ech3.py
  aiida_crystal17/parsers/raw/crystal_fort9.py
  aiida_crystal17/tests/test_parsers/test_raw/test_crystal_fort9.py
  aiida_crystal17/tests/test_parsers/test_raw/test_crystal_fort9/test_parse_fort9.yml
Due: yapf

test fix
  docs/source/user_guide/calc_doss.rst
Due: doc8

test fix
  docs/source/user_guide/workflow_properties.rst
Due: doc8

PropAbstractCalculation: if wf_input is folder/singlefile, add to local_copy_list
  aiida_crystal17/calculations/prop_abstract.py
  aiida_crystal17/tests/test_calculations/test_cry_newk.py
  aiida_crystal17/tests/test_calculations/test_cry_newk/test_run_mgo_scf_folder.yml
  aiida_crystal17/tests/utils.py
Due: yapf

Updated CryPropertiesWorkChain to run multiple properties calculation
  aiida_crystal17/calculations/prop_abstract.py
  aiida_crystal17/tests/test_workflows/test_crystal_props.py
  aiida_crystal17/tests/test_workflows/test_crystal_props/test_init_steps.yml
  aiida_crystal17/tests/test_workflows/test_crystal_props/test_run_prop_mgo_no_scf.yml
  aiida_crystal17/tests/test_workflows/test_crystal_props/test_run_prop_mgo_with_scf.yml
  aiida_crystal17/tests/utils.py
  aiida_crystal17/workflows/crystal_props/base.py
Due: yapf

``crystal17.ech3`` store cube files as ``GaussianCube`` data objects
  aiida_crystal17/calculations/prop_ech3.py
  aiida_crystal17/data/gcube.py
  aiida_crystal17/parsers/cry_ech3.py
  aiida_crystal17/tests/test_calculations/test_cry_ech3.py
  aiida_crystal17/tests/test_calculations/test_cry_ech3/test_run_mgo_scf.yml
  aiida_crystal17/tests/test_data/test_gcube.py
  aiida_crystal17/tests/test_data/test_gcube/test_read_fileobj.yml
  aiida_crystal17/tests/test_data/test_gcube/test_read_filepath.yml
  aiida_crystal17/tests/test_parsers/test_cry_ech3.py
  aiida_crystal17/tests/test_parsers/test_cry_ech3/test_success_crystal17_ech3_.yml
  aiida_crystal17/tests/test_parsers/test_cry_main.py
  aiida_crystal17/tests/test_workflows/test_crystal_props/test_run_prop_mgo_no_scf.yml
  aiida_crystal17/tests/utils.py
  docs/source/user_guide/calc_doss.rst
  setup.json
Due: yapf, version-number, conda, doc8

``GaussianCube`` add methods for analysing data
  aiida_crystal17/data/gcube.py
  aiida_crystal17/parsers/raw/gaussian_cube.py
  aiida_crystal17/tests/test_data/test_gcube.py
  aiida_crystal17/tests/test_parsers/test_raw/test_gaussian_cube.py
  aiida_crystal17/tests/test_parsers/test_raw/test_gaussian_cube/test_read_density_cube.yml
Due: yapf

Add creation of VESTA file, from cube data file
  aiida_crystal17/data/gcube.py
  aiida_crystal17/parsers/raw/gaussian_cube.py
  aiida_crystal17/parsers/raw/gcube_to_vesta.py
  aiida_crystal17/tests/test_data/test_gcube.py
  aiida_crystal17/tests/test_parsers/test_raw/test_gcube_to_vesta.py
  aiida_crystal17/tests/test_parsers/test_raw/test_gcube_to_vesta/input.cube
  aiida_crystal17/tests/test_parsers/test_raw/test_gcube_to_vesta/test_create_vesta_input.vesta
Due: yapf

test fix
  aiida_crystal17/parsers/raw/gcube_to_vesta.py
Due: yapf

gcube_to_vesta: add input validation, write function, and 2D display settings
  aiida_crystal17/parsers/raw/gcube_to_vesta.py
  aiida_crystal17/tests/test_parsers/test_raw/test_gcube_to_vesta.py
  aiida_crystal17/tests/test_parsers/test_raw/test_gcube_to_vesta/test_create_vesta_input.vesta
  aiida_crystal17/validation/schemas/vesta_input.schema.json
Due: yapf

gcube_to_vesta: supply settings as a dict
  aiida_crystal17/common/dict_funcs.py
  aiida_crystal17/parsers/raw/gcube_to_vesta.py
  aiida_crystal17/tests/test_parsers/test_raw/test_gcube_to_vesta.py
  aiida_crystal17/tests/test_parsers/test_raw/test_gcube_to_vesta/test_create_vesta_input.vesta
  aiida_crystal17/validation/schemas/vesta_input.schema.json
Due: yapf

gcube_to_vesta: add more options
  aiida_crystal17/parsers/raw/gcube_to_vesta.py
  aiida_crystal17/tests/test_parsers/test_raw/test_gcube_to_vesta/test_create_vesta_input.vesta
  aiida_crystal17/validation/schemas/vesta_input.schema.json
Due: yapf

gcube_to_vesta: improve bond computation
  aiida_crystal17/parsers/raw/gcube_to_vesta.py
  aiida_crystal17/tests/test_parsers/test_raw/test_gcube_to_vesta.py
  aiida_crystal17/tests/test_parsers/test_raw/test_gcube_to_vesta/test_create_vesta_input.vesta
  aiida_crystal17/validation/schemas/vesta_input.schema.json
Due: yapf

``crystal17.doss``; fix parsing of projections
  aiida_crystal17/parsers/raw/crystal_fort25.py
  aiida_crystal17/tests/test_parsers/test_cry_doss/test_success_crystal17_doss_.yml
  aiida_crystal17/tests/test_parsers/test_raw/test_crystal_fort25/test_read_crystal_fort25.yml
Due: yapf

Documentation: update crystal17.doss
  aiida_crystal17/tests/mock_properties17.py
  aiida_crystal17/tests/raw_files/doss/nio_sto3g_afm/INPUT
  aiida_crystal17/tests/raw_files/doss/nio_sto3g_afm/__init__.py
  aiida_crystal17/tests/raw_files/doss/nio_sto3g_afm/fort.25
  aiida_crystal17/tests/raw_files/doss/nio_sto3g_afm/fort.9
  aiida_crystal17/tests/raw_files/doss/nio_sto3g_afm/main.out
  docs/source/user_guide/calc_basic.ipynb
  docs/source/user_guide/calc_doss.ipynb
  docs/source/user_guide/calc_doss.rst
Due: yapf, doc8

Documentation: add for ``crystal17.ech3``
  docs/source/index.rst
  docs/source/user_guide/calc_doss.ipynb
  docs/source/user_guide/calc_ech3.ipynb
  docs/source/user_guide/ech3_input_schema.rst
  docs/source/user_guide/vesta_input_schema.rst
  docs/source/user_guide/vesta_screenshots/2d_display.png
  docs/source/user_guide/vesta_screenshots/main.png
Due: doc8
