Repository aiidaplugins/aiida-crystal17: changes, and which pre-commit hooks are due for each by the changed paths.
All: version-number, conda

version-number:
  name: Check version numbers
  entry: python ./.pre-commit/check_version.py version
  language: python
  pass_filenames: false
  additional_dependencies:
  - click

conda:
  name: Create environment.yml
  entry: python ./.pre-commit/check_version.py conda
  language: python
  pass_filenames: false
  additional_dependencies:
  - click
  - ruamel.yaml

🐛 Fix CHEMOD input file creation
  aiida_crystal17/parsers/raw/inputd12_write.py
Due: none

♻️ REFACTOR: Use aiida-core BaseRestartWorkChain
  aiida_crystal17/data/basis_set.py
  aiida_crystal17/tests/test_calculations/test_cry_main.py
  aiida_crystal17/tests/test_workflows/test_crystal_main.py
  aiida_crystal17/tests/test_workflows/test_crystal_main/test_init_steps.yml
  aiida_crystal17/tests/test_workflows/test_crystal_props.py
  aiida_crystal17/tests/utils.py
  aiida_crystal17/workflows/common/__init__.py
  aiida_crystal17/workflows/common/restart.py
  aiida_crystal17/workflows/crystal_main/base.py
  aiida_crystal17/workflows/symmetrise_3d_struct.py
  conda_dev_env.yml
  conftest.py
Due: conda

⬆️ move to aiida-core v1.4.0
  aiida_crystal17/calculations/cry_abstract.py
  aiida_crystal17/calculations/cry_basic.py
  aiida_crystal17/calculations/cry_main.py
  aiida_crystal17/calculations/prop_abstract.py
  aiida_crystal17/calculations/prop_doss.py
  aiida_crystal17/calculations/prop_ech3.py
  aiida_crystal17/calculations/prop_newk.py
  aiida_crystal17/calculations/prop_ppan.py
  aiida_crystal17/data/basis_set.py
  aiida_crystal17/tests/test_calculations/test_cry_doss.py
  aiida_crystal17/tests/test_calculations/test_cry_doss/test_run_mgo_scf.yml
  aiida_crystal17/tests/test_calculations/test_cry_ech3.py
  aiida_crystal17/tests/test_calculations/test_cry_ech3/test_run_mgo_scf.yml
  aiida_crystal17/tests/test_calculations/test_cry_main.py
  aiida_crystal17/tests/test_calculations/test_cry_newk.py
  aiida_crystal17/tests/test_calculations/test_cry_newk/test_run_mgo_scf_folder.yml
  aiida_crystal17/tests/test_calculations/test_cry_ppan.py
  aiida_crystal17/tests/test_calculations/test_cry_ppan/test_run_mgo_scf.yml
  aiida_crystal17/tests/test_immigration/test_immigrate.py
  aiida_crystal17/tests/test_immigration/test_immigrate/test_full_mgo_opt.yml
  aiida_crystal17/tests/test_immigration/test_immigrate/test_full_nio_afm.yml
  aiida_crystal17/tests/test_parsers/test_cry_doss.py
  aiida_crystal17/tests/test_parsers/test_cry_ech3.py
  aiida_crystal17/tests/test_parsers/test_cry_main.py
  aiida_crystal17/tests/test_parsers/test_cry_newk.py
  aiida_crystal17/tests/test_workflows/test_crystal_main.py
  aiida_crystal17/tests/test_workflows/test_crystal_main/test_init_steps.yml
  aiida_crystal17/tests/test_workflows/test_crystal_props.py
  aiida_crystal17/tests/utils.py
  aiida_crystal17/workflows/common/restart.py
  aiida_crystal17/workflows/crystal_main/base.py
  aiida_crystal17/workflows/crystal_props/base.py
  aiida_crystal17/workflows/symmetrise_3d_struct.py
  conftest.py
  setup.json
  tox.ini
Due: version-number, conda

Change rotref matrix write to 8 decimal places
  aiida_crystal17/parsers/raw/prop_inputs.py
  aiida_crystal17/tests/mock_properties17.py
  aiida_crystal17/tests/test_calculations/test_cry_ppan.py
Due: none

🚀 RELEASE: v0.11.0
  aiida_crystal17/__init__.py
  aiida_crystal17/tests/test_calculations/test_cry_doss/test_run_mgo_scf.yml
  aiida_crystal17/tests/test_calculations/test_cry_newk/test_run_mgo_scf_folder.yml
  aiida_crystal17/tests/test_calculations/test_cry_ppan/test_run_mgo_scf.yml
  aiida_crystal17/tests/test_parsers/test_cry_doss/test_success_crystal17_doss_.yml
  aiida_crystal17/tests/test_parsers/test_cry_ech3/test_success_crystal17_ech3_.yml
  aiida_crystal17/tests/test_parsers/test_cry_newk/test_success_crystal17_newk_.yml
  aiida_crystal17/tests/test_parsers/test_raw/test_crystal_fermi/test_read_newk_out_file.yml
  docs/source/changelog.md
  docs/source/notebooks/calc_basic.ipynb
  docs/source/notebooks/calc_doss.ipynb
  docs/source/notebooks/calc_ech3.ipynb
  docs/source/notebooks/calc_main.ipynb
  docs/source/notebooks/calc_main_immigrant.ipynb
  setup.json
Due: version-number, conda

Minor structure conversion improvements
  aiida_crystal17/symmetry/symmetry.py
  aiida_crystal17/workflows/symmetrise_3d_struct.py
Due: none

Add validation & writing of DFTD3 input block
  aiida_crystal17/common/d3_parameters.json
  aiida_crystal17/parsers/raw/inputd12_read.py
  aiida_crystal17/parsers/raw/inputd12_write.py
  aiida_crystal17/tests/test_parsers/test_raw/test_inputd12_write.py
  aiida_crystal17/validation/schemas/inputd12.schema.json
Due: none

📚 run reentry scan before docs builds
  docs/source/conf.py
Due: none

🔧 Update badges
  README.md
  docs/source/user_guide/get_started.md
Due: none

`CryPropertiesWorkChain`: expose scf outputs
  aiida_crystal17/workflows/crystal_props/base.py
Due: none

add rotref input for doss
  aiida_crystal17/calculations/prop_doss.py
  aiida_crystal17/calculations/prop_ppan.py
  aiida_crystal17/parsers/raw/doss_input.py
  aiida_crystal17/parsers/raw/prop_inputs.py
  aiida_crystal17/tests/test_workflows/test_crystal_props/test_run_prop_mgo_with_scf.yml
  aiida_crystal17/validation/schemas/prop.rotref.schema.json
Due: none

add missing elements
  aiida_crystal17/common/atoms.py
Due: none

🔧 Remove unwanted files
  .coveragerc
  .gitchangelog.rc
  calc_basic.md
Due: none

✨ Add recording of charge to `parse_bsets_stdin`
  aiida_crystal17/parsers/raw/parse_bases.py
  aiida_crystal17/tests/test_parsers/test_raw/test_parse_bases/test_full_files_mgo_sto3g_filepath0_.yml
  aiida_crystal17/tests/test_parsers/test_raw/test_parse_bases/test_full_files_nio_sto3g_filepath1_.yml
  aiida_crystal17/tests/test_parsers/test_raw/test_parse_bases/test_single_bases_3_21g_.yml
  aiida_crystal17/tests/test_parsers/test_raw/test_parse_bases/test_single_bases_3_21g_star_.yml
  aiida_crystal17/tests/test_parsers/test_raw/test_parse_bases/test_single_bases_barthe_.yml
  aiida_crystal17/tests/test_parsers/test_raw/test_parse_bases/test_single_bases_free_.yml
  aiida_crystal17/tests/test_parsers/test_raw/test_parse_bases/test_single_bases_free_ecp_.yml
  aiida_crystal17/tests/test_parsers/test_raw/test_parse_bases/test_single_bases_haywlc_.yml
  aiida_crystal17/tests/test_parsers/test_raw/test_parse_bases/test_single_bases_tzvp_.yml
Due: none

🐛 FIX: pre-commit local dependencies
  .pre-commit-config.yaml
Due: none

🧪 Move to GH Actions for testing
  .github/workflows/tests.yml
  .readthedocs.yml
  .travis.yml
Due: none

Fix `BasisSetData.get_basis_family_names`
  aiida_crystal17/data/basis_set.py
  aiida_crystal17/tests/test_data/test_basis_set.py
Due: none

✨ Add input writing for CHEMOD, and parsing of common errors
  aiida_crystal17/calculations/cry_abstract.py
  aiida_crystal17/calculations/prop_abstract.py
  aiida_crystal17/parsers/raw/crystal_stdout.py
  aiida_crystal17/parsers/raw/inputd12_write.py
  aiida_crystal17/tests/test_parsers/test_raw/test_inputd12_write.py
Due: none

📚 DOCS: Update documentation to use myst-nb
  README.md
  calc_basic.md
  conda_dev_env.yml
  doc8.ini
  docs/Makefile
  docs/environment.yaml
  docs/source/changelog.md
  docs/source/conf.py
  docs/source/devel_guide/restart_wkchain.rst
  docs/source/index.rst
  docs/source/notebooks/.gitignore
  docs/source/notebooks/calc_basic.ipynb
  docs/source/notebooks/calc_doss.ipynb
  docs/source/notebooks/calc_ech3.ipynb
  docs/source/notebooks/calc_main.ipynb
  docs/source/notebooks/calc_main_immigrant.ipynb
  docs/source/notebooks/test_notebooks.py
  docs/source/notebooks/vesta_screenshots/2d_display.png
  docs/source/notebooks/vesta_screenshots/main.png
  docs/source/notebooks/workflow_base.ipynb
  docs/source/notebooks/workflow_properties.ipynb
  docs/source/user_guide/get_started.md
  docs/source/user_guide/get_started.rst
  setup.json
  tox.ini
Due: version-number, conda

🔧 replace ruamel.yaml with pyyaml
  .vscode/settings.json
  aiida_crystal17/data/basis_set.py
  aiida_crystal17/tests/utils.py
  setup.json
Due: version-number, conda

🔧 remove six python 2 support
  aiida_crystal17/calculations/cry_abstract.py
  aiida_crystal17/calculations/cry_basic.py
  aiida_crystal17/calculations/cry_main.py
  aiida_crystal17/calculations/prop_abstract.py
  aiida_crystal17/calculations/prop_doss.py
  aiida_crystal17/calculations/prop_ech3.py
  aiida_crystal17/calculations/prop_newk.py
  aiida_crystal17/calculations/prop_ppan.py
  aiida_crystal17/data/basis_set.py
  aiida_crystal17/data/gcube.py
  aiida_crystal17/gulp/calculations/gulp_abstract.py
  aiida_crystal17/gulp/calculations/gulp_fitting.py
  aiida_crystal17/gulp/calculations/gulp_optimize.py
  aiida_crystal17/gulp/calculations/gulp_single.py
  aiida_crystal17/gulp/data/potential.py
  aiida_crystal17/gulp/parsers/raw/write_input.py
  aiida_crystal17/parsers/raw/crystal_fort9.py
  aiida_crystal17/parsers/raw/inputd12_write.py
  aiida_crystal17/parsers/raw/vesta.py
  aiida_crystal17/tests/mock_crystal17.py
  aiida_crystal17/tests/mock_gulp.py
  aiida_crystal17/tests/mock_properties17.py
  aiida_crystal17/tests/test_data/test_basis_set.py
  aiida_crystal17/tests/test_data/test_gcube.py
  aiida_crystal17/tests/test_gulp/test_potentials/test_reaxff.py
  aiida_crystal17/tests/test_parsers/test_cry_main.py
  aiida_crystal17/tests/test_parsers/test_raw/test_crystal_fort25.py
  aiida_crystal17/tests/test_parsers/test_raw/test_vesta.py
  aiida_crystal17/tests/test_symmetry/test_symmetry.py
  aiida_crystal17/tests/utils.py
  aiida_crystal17/validation/utils.py
  aiida_crystal17/workflows/crystal_props/base.py
  docs/source/conf.py
  setup.json
Due: version-number, conda

Add PPAN properties calculation, and related parsers
  aiida_crystal17/calculations/prop_ppan.py
  aiida_crystal17/parsers/cry_ppan.py
  aiida_crystal17/parsers/raw/crystal_ppan.py
  aiida_crystal17/parsers/raw/ppan_input.py
  aiida_crystal17/tests/mock_properties17.py
  aiida_crystal17/tests/raw_files/ppan/mgo_sto3g_scf/INPUT
  aiida_crystal17/tests/raw_files/ppan/mgo_sto3g_scf/PPAN.DAT
  aiida_crystal17/tests/raw_files/ppan/mgo_sto3g_scf/__init__.py
  aiida_crystal17/tests/raw_files/ppan/mgo_sto3g_scf/fort.9
  aiida_crystal17/tests/raw_files/ppan/mgo_sto3g_scf/main.out
  aiida_crystal17/tests/test_calculations/test_cry_ppan.py
  aiida_crystal17/tests/test_calculations/test_cry_ppan/test_run_mgo_scf.yml
  aiida_crystal17/tests/test_parsers/test_raw/test_crystal_ppan.py
  aiida_crystal17/tests/test_parsers/test_raw/test_crystal_ppan/test_read_doss_contents_spin1.yml
  aiida_crystal17/tests/test_parsers/test_raw/test_crystal_ppan/test_read_doss_contents_spin2.yml
  aiida_crystal17/validation/schemas/prop.ppan.schema.json
  conftest.py
  setup.json
Due: version-number, conda

Fix `six` version to 1.12.0 (required by aiida-core)
  conda_dev_env.yml
  setup.json
Due: version-number, conda

🧪 Add tox
  .gitignore
  .vscode/settings.json
  aiida_crystal17/tests/test_parsers/test_raw/test_inputd12_read.py
  conda_dev_env.yml
  docker-compose.yml
  setup.json
  tox.ini
Due: version-number, conda

Add parsing of CRYSTAL `ROTCRY` input
  aiida_crystal17/parsers/raw/inputd12_read.py
  aiida_crystal17/parsers/raw/inputd12_write.py
  aiida_crystal17/tests/test_parsers/test_raw/test_inputd12_read.py
  aiida_crystal17/tests/test_parsers/test_raw/test_inputd12_write.py
  aiida_crystal17/validation/schemas/inputd12.schema.json
Due: none

DOCS fix intersphinx reference
  aiida_crystal17/tests/utils.py
Due: none

add `CryPpanCalculation` to `CryPropertiesWorkChain` inputs
  aiida_crystal17/tests/raw_files/ppan/__init__.py
  aiida_crystal17/workflows/crystal_props/base.py
Due: none

🔧 Update badges
  README.md
Due: none

🧪 Remove upstreamed code
  aiida_crystal17/tests/utils.py
Due: none

🔧 Update trove classifiers
  setup.json
Due: version-number, conda

🧪[WIP] added HYBRID and NONLOCAL keys to DFT block
  aiida_crystal17/parsers/raw/inputd12_write.py
  aiida_crystal17/validation/schemas/inputd12.schema.json
Due: none

temporary adding this branch to Actions
  .github/workflows/tests.yml
Due: none

fixes the issue of EXCHANGE and CORRELAT order
  aiida_crystal17/parsers/raw/inputd12_write.py
Due: none

revert changes in GitHub Actions
  .github/workflows/tests.yml
Due: none

🛠 applied requested changes by Chris
  aiida_crystal17/parsers/raw/inputd12_write.py
  aiida_crystal17/validation/schemas/inputd12.schema.json
Due: none

Path conditions:
  version-number: any of: (?x)^(
  setup.json|
  .pre-commit/check_version.py|
  aiida_crystal17/__init__.py
)$, but not: (?x)^(
    aiida_crystal17/tests/raw_files/.*|
    cry17_scripts/.*
)$

  conda: any of: (?x)^(
  setup.json|
  setup.py|
  .pre-commit/check_version.py|
  conda_dev_env.yml|
)$, but not: (?x)^(
    aiida_crystal17/tests/raw_files/.*|
    cry17_scripts/.*
)$

