Repository aiidaplugins/aiida-crystal17: changes, and which pre-commit hooks are due for each by the changed paths.
All: yapf, version-number, conda, travis-linter, doc8

.pre-commit-config.yaml:

# Install pre-commit hooks via
# pre-commit install

exclude: >
  (?x)^(
      aiida_crystal17/tests/raw_files/.*|
      cry17_scripts/.*
  )$

repos:

  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v2.2.3
    hooks:
    - id: check-json
    - id: check-yaml
    - id: end-of-file-fixer
    - id: trailing-whitespace
    - id: double-quote-string-fixer
    - id: flake8

  - repo: local
    hooks:

    - id: yapf
      name: Yet Another Python Formatter
      entry: yapf
      language: system
      types: [python]
      args: ["-i", "-vv"]

    - id: version-number
      name: Check version numbers
      entry: python ./.pre-commit/check_version.py version
      language: system
      files: >-
        (?x)^(
          setup.json|
          .pre-commit/check_version.py|
          aiida_crystal17/__init__.py
        )$
      pass_filenames: false

    - id: conda
      name: Create environment.yml
      entry: python ./.pre-commit/check_version.py conda
      language: system
      files: >-
        (?x)^(
          setup.json|
          setup.py|
          .pre-commit/check_version.py|
          conda_dev_env.yml|
        )$
      pass_filenames: false

    - id: travis-linter
      name: Travis Lint
      entry: travis lint
      files: .travis.yml
      language: ruby
      additional_dependencies: ['travis']

    - id: doc8
      entry: doc8
      language: system
      types: [rst]
      name: doc8 - Lint the documentation.

    # TODO could also add check-manifest

Documentation: update worflow_properties
  docs/source/user_guide/calc_doss.ipynb
  docs/source/user_guide/calc_ech3.ipynb
  docs/source/user_guide/calc_main.ipynb
  docs/source/user_guide/workflow_properties.ipynb
  docs/source/user_guide/workflow_properties.rst
Due: doc8

``crystal17.ech3`` store cube files as ``GaussianCube`` data objects
  aiida_crystal17/calculations/prop_ech3.py
  aiida_crystal17/data/gcube.py
  aiida_crystal17/parsers/cry_ech3.py
  aiida_crystal17/parsers/raw/gaussian_cube.py
  aiida_crystal17/tests/test_calculations/test_cry_ech3.py
  aiida_crystal17/tests/test_calculations/test_cry_ech3/test_run_mgo_scf.yml
  aiida_crystal17/tests/test_data/test_gcube.py
  aiida_crystal17/tests/test_data/test_gcube/test_read_fileobj.yml
  aiida_crystal17/tests/test_data/test_gcube/test_read_filepath.yml
  aiida_crystal17/tests/test_parsers/test_cry_ech3.py
  aiida_crystal17/tests/test_parsers/test_cry_ech3/test_success_crystal17_ech3_.yml
  aiida_crystal17/tests/test_parsers/test_cry_main.py
  aiida_crystal17/tests/test_parsers/test_raw/test_gaussian_cube.py
  aiida_crystal17/tests/test_parsers/test_raw/test_gaussian_cube/test_read_density_cube.yml
  aiida_crystal17/tests/test_workflows/test_crystal_props/test_run_prop_mgo_no_scf.yml
  aiida_crystal17/tests/utils.py
  docs/source/user_guide/calc_doss.rst
  setup.json
Due: yapf, version-number, conda, doc8

Add creation of VESTA file, from cube data file
  aiida_crystal17/common/dict_funcs.py
  aiida_crystal17/data/gcube.py
  aiida_crystal17/parsers/raw/gaussian_cube.py
  aiida_crystal17/parsers/raw/gcube_to_vesta.py
  aiida_crystal17/tests/test_data/test_gcube.py
  aiida_crystal17/tests/test_parsers/test_raw/test_gcube_to_vesta.py
  aiida_crystal17/tests/test_parsers/test_raw/test_gcube_to_vesta/input.cube
  aiida_crystal17/tests/test_parsers/test_raw/test_gcube_to_vesta/test_create_vesta_input.vesta
  aiida_crystal17/validation/schemas/vesta_input.schema.json
Due: yapf

``crystal17.doss``; fix parsing of projections
  aiida_crystal17/parsers/raw/crystal_fort25.py
  aiida_crystal17/tests/test_parsers/test_cry_doss/test_success_crystal17_doss_.yml
  aiida_crystal17/tests/test_parsers/test_raw/test_crystal_fort25/test_read_crystal_fort25.yml
Due: yapf

Refactor crystal doss parser to include reading of stdout file
  aiida_crystal17/calculations/cry_doss.py
  aiida_crystal17/parsers/cry_doss.py
  aiida_crystal17/parsers/raw/crystal_fort25.py
  aiida_crystal17/parsers/raw/properties_stdout.py
  aiida_crystal17/tests/test_calculations/test_cry_doss.py
  aiida_crystal17/tests/test_calculations/test_cry_doss/test_run_mgo_scf.yml
  aiida_crystal17/tests/test_parsers/test_cry_doss.py
  aiida_crystal17/tests/test_parsers/test_cry_doss/test_success_crystal17_doss_.yml
  aiida_crystal17/tests/test_parsers/test_raw/test_crystal_fort25.py
  aiida_crystal17/tests/test_parsers/test_raw/test_crystal_fort25/test_read_crystal_fort25.yml
  aiida_crystal17/tests/test_parsers/test_raw/test_properties_stdout/test_read_props_stdout_doss.yml
  aiida_crystal17/tests/test_parsers/test_raw/test_properties_stdout/test_read_props_stdout_ech3.yml
Due: yapf

Updated CryPropertiesWorkChain to run multiple properties calculation
  aiida_crystal17/calculations/prop_abstract.py
  aiida_crystal17/tests/test_workflows/test_crystal_props.py
  aiida_crystal17/tests/test_workflows/test_crystal_props/test_init_steps.yml
  aiida_crystal17/tests/test_workflows/test_crystal_props/test_run_prop_mgo_no_scf.yml
  aiida_crystal17/tests/test_workflows/test_crystal_props/test_run_prop_mgo_with_scf.yml
  aiida_crystal17/tests/utils.py
  aiida_crystal17/workflows/crystal_props/base.py
Due: yapf

Add raw parsers for parsing properties stdout and gaussian cube files
  .vscode/settings.json
  aiida_crystal17/common/parsing.py
  aiida_crystal17/parsers/raw/crystal_stdout.py
  aiida_crystal17/parsers/raw/gaussian_cube.py
  aiida_crystal17/parsers/raw/properties_stdout.py
  aiida_crystal17/tests/raw_files/ech3/__init__.py
  aiida_crystal17/tests/raw_files/ech3/mgo_sto3g_scf/DENS_CUBE.DAT
  aiida_crystal17/tests/raw_files/ech3/mgo_sto3g_scf/INPUT
  aiida_crystal17/tests/raw_files/ech3/mgo_sto3g_scf/__init__.py
  aiida_crystal17/tests/raw_files/ech3/mgo_sto3g_scf/fort.9
  aiida_crystal17/tests/raw_files/ech3/mgo_sto3g_scf/main.out
  aiida_crystal17/tests/test_parsers/test_raw/test_gaussian_cube.py
  aiida_crystal17/tests/test_parsers/test_raw/test_gaussian_cube/test_read_density_cube.yml
  aiida_crystal17/tests/test_parsers/test_raw/test_properties_stdout.py
  aiida_crystal17/tests/test_parsers/test_raw/test_properties_stdout/test_read_props_stdout_doss.yml
  aiida_crystal17/tests/test_parsers/test_raw/test_properties_stdout/test_read_props_stdout_ech3.yml
  docs/source/conf.py
Due: yapf

Add ``crystal17.ech3`` calculation and parser
  aiida_crystal17/calculations/cry_ech3.py
  aiida_crystal17/parsers/cry_ech3.py
  aiida_crystal17/parsers/raw/gaussian_cube.py
  aiida_crystal17/tests/mock_properties17.py
  aiida_crystal17/tests/test_calculations/test_cry_ech3.py
  aiida_crystal17/tests/test_calculations/test_cry_ech3/test_run_mgo_scf.yml
  aiida_crystal17/tests/test_parsers/test_cry_ech3.py
  aiida_crystal17/tests/test_parsers/test_cry_ech3/test_success_crystal17_ech3_.yml
  aiida_crystal17/tests/test_parsers/test_raw/test_gaussian_cube/test_read_density_cube.yml
  aiida_crystal17/validation/schemas/ech3_input.schema.json
  conftest.py
  setup.json
Due: yapf, version-number, conda

Add fort.9 raw parser
  aiida_crystal17/calculations/cry_ech3.py
  aiida_crystal17/parsers/raw/crystal_fort9.py
  aiida_crystal17/tests/test_parsers/test_raw/test_crystal_fort9.py
  aiida_crystal17/tests/test_parsers/test_raw/test_crystal_fort9/test_parse_fort9.yml
Due: yapf

Documentation: update properties calculations and workflow
  aiida_crystal17/tests/mock_properties17.py
  aiida_crystal17/tests/raw_files/doss/nio_sto3g_afm/INPUT
  aiida_crystal17/tests/raw_files/doss/nio_sto3g_afm/__init__.py
  aiida_crystal17/tests/raw_files/doss/nio_sto3g_afm/fort.25
  aiida_crystal17/tests/raw_files/doss/nio_sto3g_afm/fort.9
  aiida_crystal17/tests/raw_files/doss/nio_sto3g_afm/main.out
  docs/source/index.rst
  docs/source/user_guide/calc_basic.ipynb
  docs/source/user_guide/calc_doss.ipynb
  docs/source/user_guide/calc_doss.rst
  docs/source/user_guide/calc_ech3.ipynb
  docs/source/user_guide/calc_main.ipynb
  docs/source/user_guide/ech3_input_schema.rst
  docs/source/user_guide/vesta_input_schema.rst
  docs/source/user_guide/vesta_screenshots/2d_display.png
  docs/source/user_guide/vesta_screenshots/main.png
  docs/source/user_guide/workflow_properties.ipynb
  docs/source/user_guide/workflow_properties.rst
Due: yapf, doc8

update band_gap calcfunction, to use correct energy units format
  aiida_crystal17/calcfunctions/band_gap.py
  aiida_crystal17/tests/test_calcfunctions/test_band_gap.py
Due: yapf

Update crystal.main stdout parser to extract mulliken orbital and shell populations
  aiida_crystal17/parsers/raw/crystal_stdout.py
  aiida_crystal17/parsers/raw/main_out.py
  aiida_crystal17/tests/test_parsers/test_raw/test_crystal_stdout/test_crystal_stdout_files_cry14_opt_filepath0_.yml
  aiida_crystal17/tests/test_parsers/test_raw/test_crystal_stdout/test_crystal_stdout_files_cry14_opt_slab_filepath2_.yml
  aiida_crystal17/tests/test_parsers/test_raw/test_crystal_stdout/test_crystal_stdout_files_cry14_scf_filepath1_.yml
  aiida_crystal17/tests/test_parsers/test_raw/test_crystal_stdout/test_crystal_stdout_files_cry17_opt_spin_filepath3_.yml
  aiida_crystal17/tests/test_parsers/test_raw/test_crystal_stdout/test_crystal_stdout_files_nio_opt_filepath7_.yml
  aiida_crystal17/tests/test_parsers/test_raw/test_crystal_stdout/test_crystal_stdout_files_nio_scf_filepath6_.yml
  aiida_crystal17/tests/test_parsers/test_raw/test_crystal_stdout/test_crystal_stdout_files_nio_scf_maxcyc_filepath9_.yml
  aiida_crystal17/tests/test_parsers/test_raw/test_crystal_stdout/test_crystal_stdout_files_s2_molecule_opt_filepath12_.yml
Due: yapf

doc fix
  aiida_crystal17/parsers/raw/main_out.py
Due: yapf

allow vesta file to be created, without cube data
  aiida_crystal17/parsers/raw/vesta.py
  aiida_crystal17/tests/test_parsers/test_raw/test_vesta.py
  aiida_crystal17/tests/test_parsers/test_raw/test_vesta/input.cube
  aiida_crystal17/tests/test_parsers/test_raw/test_vesta/test_create_vesta_input.vesta
  docs/source/user_guide/calc_ech3.ipynb
Due: yapf

Delete cx1_submission_tests.py
  aiida_crystal17/tests/cx1_submission_tests.py
Due: yapf

create_vesta_input: add site specific settings
  aiida_crystal17/parsers/raw/vesta.py
  aiida_crystal17/tests/test_parsers/test_raw/test_vesta/test_create_vesta_input.vesta
  aiida_crystal17/validation/schemas/vesta_input.schema.json
Due: yapf

parsers/raw/crystal_stdout: fix issues with computations that converge after the 1st cycle
  aiida_crystal17/parsers/raw/crystal_stdout.py
  aiida_crystal17/tests/raw_files/crystal/stdout_parser/cry17_opt_converge_1stcycle.out
  aiida_crystal17/tests/test_parsers/test_raw/test_crystal_stdout.py
  aiida_crystal17/tests/test_parsers/test_raw/test_crystal_stdout/test_crystal_stdout_files_cry17_opt_1stcyc_filepath14_.yml
  aiida_crystal17/workflows/crystal_props/base.py
Due: yapf

remove erroneous pytest decorator
  aiida_crystal17/tests/resources.py
Due: yapf

Sphinx: exclude tests from apidoc
  docs/source/conf.py
Due: yapf

improve docstring documentation
  aiida_crystal17/workflows/common/restart.py
Due: yapf

update changelog
  .gitchangelog.rc
  docs/source/changelog.rst
Due: doc8

bump versions and update tests
  aiida_crystal17/__init__.py
  aiida_crystal17/tests/test_calculations/test_cry_doss/test_run_mgo_scf.yml
  aiida_crystal17/tests/test_calculations/test_cry_ech3/test_run_mgo_scf.yml
  aiida_crystal17/tests/test_calculations/test_cry_newk/test_run_mgo_scf_folder.yml
  aiida_crystal17/tests/test_gulp/test_parsers/test_parse_output_fit/test_parse_file_lj.yml
  aiida_crystal17/tests/test_gulp/test_parsers/test_parse_output_fit/test_parse_file_reaxff.yml
  aiida_crystal17/tests/test_immigration/test_immigrate/test_full_mgo_opt.yml
  aiida_crystal17/tests/test_immigration/test_immigrate/test_full_nio_afm.yml
  aiida_crystal17/tests/test_parsers/test_cry_doss/test_success_crystal17_doss_.yml
  aiida_crystal17/tests/test_parsers/test_cry_ech3/test_success_crystal17_ech3_.yml
  aiida_crystal17/tests/test_parsers/test_cry_newk/test_success_crystal17_newk_.yml
  conda_dev_env.yml
  setup.json
Due: yapf, version-number, conda

remove unused code
  aiida_crystal17/workflows/crystal_props/base.py
Due: yapf

add missing elements
  aiida_crystal17/common/atoms.py
Due: yapf

Fix `six` version to 1.12.0 (required by aiida-core)
  conda_dev_env.yml
  setup.json
Due: version-number, conda

DOCS fix intersphinx reference
  aiida_crystal17/tests/utils.py
Due: yapf

Add parsing of CRYSTAL `ROTCRY` input
  aiida_crystal17/parsers/raw/inputd12_read.py
  aiida_crystal17/parsers/raw/inputd12_write.py
  aiida_crystal17/tests/test_parsers/test_raw/test_inputd12_read.py
  aiida_crystal17/tests/test_parsers/test_raw/test_inputd12_write.py
  aiida_crystal17/validation/schemas/inputd12.schema.json
Due: yapf

Add PPAN properties calculation, and related parsers
  aiida_crystal17/calculations/prop_ppan.py
  aiida_crystal17/parsers/cry_ppan.py
  aiida_crystal17/parsers/raw/crystal_ppan.py
  aiida_crystal17/parsers/raw/ppan_input.py
  aiida_crystal17/tests/mock_properties17.py
  aiida_crystal17/tests/raw_files/ppan/mgo_sto3g_scf/INPUT
  aiida_crystal17/tests/raw_files/ppan/mgo_sto3g_scf/PPAN.DAT
  aiida_crystal17/tests/raw_files/ppan/mgo_sto3g_scf/__init__.py
  aiida_crystal17/tests/raw_files/ppan/mgo_sto3g_scf/fort.9
  aiida_crystal17/tests/raw_files/ppan/mgo_sto3g_scf/main.out
  aiida_crystal17/tests/test_calculations/test_cry_ppan.py
  aiida_crystal17/tests/test_calculations/test_cry_ppan/test_run_mgo_scf.yml
  aiida_crystal17/tests/test_parsers/test_raw/test_crystal_ppan.py
  aiida_crystal17/tests/test_parsers/test_raw/test_crystal_ppan/test_read_doss_contents_spin1.yml
  aiida_crystal17/tests/test_parsers/test_raw/test_crystal_ppan/test_read_doss_contents_spin2.yml
  aiida_crystal17/validation/schemas/prop.ppan.schema.json
  conftest.py
  setup.json
Due: yapf, version-number, conda

add `CryPpanCalculation` to `CryPropertiesWorkChain` inputs
  aiida_crystal17/tests/raw_files/ppan/__init__.py
  aiida_crystal17/workflows/crystal_props/base.py
Due: yapf

`CryPropertiesWorkChain`: expose scf outputs
  aiida_crystal17/workflows/crystal_props/base.py
Due: yapf

add rotref input for doss
  aiida_crystal17/calculations/prop_doss.py
  aiida_crystal17/calculations/prop_ppan.py
  aiida_crystal17/parsers/raw/doss_input.py
  aiida_crystal17/parsers/raw/prop_inputs.py
  aiida_crystal17/tests/test_workflows/test_crystal_props/test_run_prop_mgo_with_scf.yml
  aiida_crystal17/validation/schemas/prop.rotref.schema.json
Due: yapf

Change rotref matrix write to 8 decimal places
  aiida_crystal17/parsers/raw/prop_inputs.py
  aiida_crystal17/tests/mock_properties17.py
  aiida_crystal17/tests/test_calculations/test_cry_ppan.py
Due: yapf

Fix `BasisSetData.get_basis_family_names`
  aiida_crystal17/data/basis_set.py
  aiida_crystal17/tests/test_data/test_basis_set.py
Due: yapf

Add validation & writing of DFTD3 input block
  aiida_crystal17/common/d3_parameters.json
  aiida_crystal17/parsers/raw/inputd12_read.py
  aiida_crystal17/parsers/raw/inputd12_write.py
  aiida_crystal17/tests/test_parsers/test_raw/test_inputd12_write.py
  aiida_crystal17/validation/schemas/inputd12.schema.json
Due: yapf

Minor structure conversion improvements
  aiida_crystal17/symmetry/symmetry.py
  aiida_crystal17/workflows/symmetrise_3d_struct.py
Due: yapf
